.grid {
  order: 3;
  user-select: none;
  position: relative;
  margin: 10px auto;
  width: 9em;
  height: 9em;
  font-size: 24px;
  display: flex;
  flex-flow: row wrap;
  border: solid #808080;
  border-width: 1px 0 0 1px;
}
